<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExpenseSplitting"
        tools:targetApi="31">
        <activity
            android:name=".User.Withdraw.ReviewWithdrawActivity"
            android:exported="false" />
        <activity android:name=".User.Withdraw.SelectPaymentMethod2" />
        <activity
            android:name=".User.Withdraw.WithdrawActivity"
            android:exported="false" />
        <activity
            android:name=".Group.EditGroupActivity"
            android:exported="false" />
        <activity
            android:name=".ChatBox.UserChatActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.HelpAndSupport.TermsOfServiceActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.HelpAndSupport.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.HelpAndSupport.HelpSupportActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.UpgradePlanandBilling.BillingSubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.UpgradePlanandBilling.PaymentSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Group.SplitByActivity"
            android:exported="false" />
        <activity
            android:name=".Group.CategorySelectionActivity"
            android:exported="false" />
        <activity
            android:name=".Group.AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".Group.SelectParticipantsActivity"
            android:exported="false" />
        <activity
            android:name=".Group.GroupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Group.AddGroupActivity"
            android:exported="false" />
        <activity
            android:name=".Group.GroupListActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.UpgradePlanandBilling.ReviewSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.Payment.SelectablePaymentMethodAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".AccountInfo.Payment.SelectPaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.UpgradePlanandBilling.UpgradePlanActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.AccountSecurity.DeviceManagementActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.AccountSecurity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.AccountSecurity.AccountSecurityActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Contacts.ContactDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Contacts.AddContactActivity"
            android:exported="false" />
        <activity
            android:name=".AccountInfo.PersonalInfo.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Contacts.ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".FragmentForUser.BottomNavigationFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".FragmentForUser.ActivityFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".FragmentForUser.TopSectionFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.SignIn" />
        <activity android:name=".UserActivity" />
        <activity android:name=".AdminReplyChatActivity" />
        <activity android:name=".Login.SignUp" />
        <activity android:name=".Login.ForgotPassword" />
        <activity android:name=".User.Pay.PayActivity" />
        <activity android:name=".User.Pay.PaymentReceiptActivity" />
        <activity android:name=".User.Request.RequestActivity" />
        <activity android:name=".User.PaymentMethod.NewPaymentActivity" />
        <activity android:name=".User.PaymentMethod.PaymentMethodActivity" /> <!-- Meta-data -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>